{
  "parser": "@babel/eslint-parser",
  "root": true,
  "extends": [
    "@asd14/eslint-config/targets/node"
  ],
  "settings": {
    "import/resolver": "node",

    // Recommended if you use eslint_d
    "import/cache": {
      "lifetime": 5
    }
  },
  "rules": {
    "import/extensions": "off",
    "unicorn/consistent-function-scoping": "warn",
    "unicorn/prefer-module": "off",
    "promise/avoid-new": "off",
    "valid-jsdoc": "off"
  }
}
