{
  "root": true,
  "extends": [
    "@asd14/eslint-config/targets/node-ts"
  ],
  "settings": {
    "import/cache": {
      "lifetime": 5
    }
  },
  "rules": {
    "unicorn/consistent-function-scoping": "warn",
    "promise/avoid-new": "off",
    "valid-jsdoc": "off"
  }
}
